
.hero{
    background-image: url('/images/assets/grid.png');
   

}

.hero-main{
    height: 700px;
    width: 1630px;
    margin: 48px 128px;
    overflow: hidden;
    position: relative; 
    border: solid 1px #2A231E;
}

.hero-img{
    object-fit:contain;
    width: auto;
    height: 100%;
    height: auto;
    margin-top: auto;

    
}