
.hero{
    background-image: url('/images/assets/grid.png');

}

.hero-main{
    height: 850px;
    margin: 128px;
    overflow: hidden;
}

.hero-img{
    width: 2285px;
    height: auto;
    margin-top: auto;
    object-fit:fill;

    
}